h1,p{
  color: purple;
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2, p{
  /* color: darkslategray; */
  font-family: 'Pacifico', cursive;

}


head {
  font-family: 'Lobster', cursive;;
}
 body {
   background-color: rosybrown;
}
/* #video1{ */
  /* position: absolute; */
  /* top: 500px; */
  /* left: 400px; */

}
